@inject NavigationManager NavigationManager

<HxCard>
    <BodyTemplate>
        <footer>
            <div class="container text-center">
                <div class="mb-2">
                    <HxButton Color="ThemeColor.Light" Size="ButtonSize.Small" CssClass="rounded-circle">
                        <a href="https://github.com/chicuong2k3" target="_blank" class="text-white text-decoration-none">
                            <HxIcon Icon="BootstrapIcon.Github" />
                        </a>
                    </HxButton>
                    <HxButton Color="ThemeColor.Info" Size="ButtonSize.Small" CssClass="rounded-circle">
                        <a href="https://www.facebook.com/2ci161" target="_blank" class="text-white text-decoration-none">
                            <HxIcon Icon="BootstrapIcon.Facebook" />
                        </a>
                    </HxButton>
                </div>

                <div>
                    <small class="text-muted">©2025 Chí Cường. All rights reserved.</small>
                </div>
            </div>
        </footer>
    </BodyTemplate>
</HxCard>
