.main-content {
    min-height: calc(100vh - 196px);
}

.sidebar.desktop {
    position: fixed;
    top: 84px;
    left: 0;
    width: 16.7%;
    overflow-y: auto;
}


.sidebar ::deep .hx-tree-view-item-expander {
    transition: transform 0.3s ease;
}

.sidebar ::deep .collapse {
    transition: height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.sidebar ::deep .collapsing {
    height: 0 !important;
    opacity: 0;
    transform: translateY(-5px);
}

.sidebar ::deep .collapse.show {
    opacity: 1;
    transform: translateY(0);
}
