@page "/"

@inject NavigationManager NavigationManager

<HxCard CssClass="h-100">
    <HeaderTemplate>
        <p class="h1">Các bài viết</p>
    </HeaderTemplate>
    <BodyTemplate>
        <div class="row">
            @foreach (var post in _posts)
            {
                <div class="col-12 col-md-3 mt-3 px-1" @onclick="@(() => NavigationManager.NavigateTo(post.Route))">
                    <PostCard Post="@post" />
                </div>
            }
        </div>

        @if (_hasMore)
        {
            <div class="text-center mt-4">
                <HxButton Color="ThemeColor.Primary" Spinner="@_isLoading" OnClick="LoadMore">
                    Tải thêm
                </HxButton>
            </div>
        }
    </BodyTemplate>
</HxCard>

@code {
    private List<PostDto> _posts = [];

    [SupplyParameterFromQuery]
    public string Query { get; set; } = string.Empty;

    [SupplyParameterFromQuery]
    public int Page { get; set; }

    [SupplyParameterFromQuery(Name = "categories")]
    public string[] Categories { get; set; } = [];

    private int _totalPost;
    private bool _isLoading = false;
    private bool _hasMore = true;

    protected override void OnParametersSet()
    {
        _totalPost = AppDataManager.GetTotalPosts(Query ?? string.Empty, Categories.ToList());
        LoadPosts();
    }

    private void LoadPosts()
    {
        _isLoading = true;

        _posts = AppDataManager.GetPosts(Page, Constants.PageSize, Query ?? string.Empty, Categories.ToList());

        _isLoading = false;
        _hasMore = _posts.Count()
    < _totalPost;
    }

    private void LoadMore()
    {
        Page++;
        LoadPosts();
    }
}
