
.h1, h1 {
    font-size: calc(0.95rem + 0.4vw);
}

@media (min-width:1200px) {
    .h1, h1 {
        font-size: 1.5rem;
    }
}

.h2, h2 {
    font-size: calc(0.9rem + 0.35vw);
}

@media (min-width:1200px) {
    .h2, h2 {
        font-size: 1.375rem;
    }
}

.h3, h3 {
    font-size: calc(0.85rem + 0.3vw);
}

@media (min-width:1200px) {
    .h3, h3 {
        font-size: 1.25rem;
    }
}

.h4, h4 {
    font-size: calc(0.8rem + 0.25vw);
}

@media (min-width:1200px) {
    .h4, h4 {
        font-size: 1.125rem;
    }
}

.h5, h5 {
    font-size: calc(0.8rem + 0.15vw);
}

@media (min-width:1200px) {
    .h5, h5 {
        font-size: 1rem;
    }
}

.h6, h6 {
    font-size: calc(0.75rem + 0.1vw);
}

@media (min-width:1200px) {
    .h6, h6 {
        font-size: 0.875rem;
    }
}




html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 14px !important;
}
