@inject IJSRuntime JSRuntime

<div class="back-to-top-btn" id="backToTopBtn">
    <HxButton OnClick="ScrollToTop"
              Icon="BootstrapIcon.ArrowBarUp" Color="ThemeColor.Secondary" />
</div>

@code {
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/BackToTopButton.razor.js");
            await _module.InvokeVoidAsync("initBackToTopButton", "backToTopBtn");
        }
    }

    private async Task ScrollToTop()
    {
        if (_module is not null)
        {
            await _module.InvokeVoidAsync("scrollToTop");
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_module is not null)
        {
            await _module.DisposeAsync();
        }
    }
}
